@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.header {
  @include flex-center;
  gap: $spacing-sm;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $color-background-dark;
  width: 100%;
  padding: $spacing-sm;

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: $spacing-md;
  }
}

.logo-wrapper {
  @include flex-center;
  gap: $spacing-sm;

  h2 {
    display: none;
  }

  @include desktop {
    justify-self: start;
    gap: $spacing-md;

    h2 {
      display: block;
    }
  }
}

.logo {
  height: 1.5rem;
  width: 1.5rem;
  flex: 1 0 auto;

  @include tablet-up {
    height: 2rem;
    width: 2rem;
  }
}

