@use './styles/variables' as *;
@use './styles/mixins' as *;

#root {
  max-width: $breakpoint-xl;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}